.loginPage {

    background: url('Images/employee.jpg');
    background: linear-gradient(rgba(11,11,11,0.5), rgba(10,10,10,0.5)), url('Images/employee.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.loginForm {
    background-color: rgba(94, 94, 95, 0.6);
    color: white;
}

.custom-bg {
    background-color: #3f556b;
  }

  .employee_image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }